# Go build artifacts
/bin/
/build/
/*.exe
/*.dll
/*.so
/*.dylib

# Go modules
/vendor/

# Dependency directories
/pkg/

# Test output
*.out
*.test

# Environment files
.env
.env.local
.env.*.local

# IDE/editor files
.vscode/
.idea/
*.iml

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Python environments
.venv/

# generated charts and filed
*.csv
*.png
*.pdf
